h3 {text-align: center}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("entryScreen.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: #3F51B5; /* Blue */
    border: none;
	border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 0px;
    cursor: pointer;
}


.button1 {width: 100%;
		  position: absolute;
          top: 50px;
}
.button2 {width: 100%;
		  position: absolute;
          bottom: 20px;
}


img 	{margin: auto;
		position: absolute;
		left: 0; right: 0;
		top:105px}
		
#entry {margin: auto;
		position: absolute;
		left: 0; right: 0;
		bottom:150px}